<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/layout-admin :: layout(~{::main})}">

<!--<div th:replace="~{admin/fragments/fragment-head :: head}"></div>-->

<body>

<!--&lt;!&ndash; ======= Header ======= &ndash;&gt;-->
<!--<div th:replace="~{admin/fragments/fragment-header :: header}"></div>-->


<!--&lt;!&ndash; ======= Sidebar ======= &ndash;&gt;-->
<!--<div th:replace="~{admin/fragments/fragment-sidebar :: sidebar}"></div>-->

<!--&lt;!&ndash; End Sidebar&ndash;&gt;-->

<main id="main" class="main">
    <div th:replace="~{admin/fragments/fragment-page-title :: pageTitle}"></div>
    <div th:replace="~{admin/fragments/fragment-datatable :: datatable(${table})}"></div>
    <th:block th:if="${hasDetails}">
        <div th:replace="~{admin/fragments/fragment-datatable :: datatable(${detailTable})}"></div>
    </th:block>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="~{admin/fragments/fragment-footer :: footer}"></div>
<div th:replace="~{admin/fragments/fragment-foot :: foot}"></div>

<div th:replace="~{admin/fragments/fragment-script-util :: util}"></div>


</body>

</html>